<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" style="padding-top: 10px; background-color: black;color: grey;" data-hook>
    <div style="display: flex; justify-content: center;">
      <a style="color: grey;font-size: 24px;" href='#'>About</a>
    </div>
    <div style="display: flex; justify-content: center;">
      <p>© Nickelane <%=Date.today.year%></p>
    </div>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
